<li class="nav-item nav-category">
  <span class="nav-link">Navigation</span>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" href="/Myadmin/dashboard">
    <span class="menu-icon">
      <i class="mdi mdi-speedometer"></i>
    </span>
    <span class="menu-title">Dashboard</span>
  </a>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
    <span class="menu-icon">
      <i class="mdi mdi-laptop"></i>
    </span>
    <span class="menu-title">Slider</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="ui-basic">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/AddSlider">Add slider</a></li>
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/ViewSlider">View slider</a></li>
    </ul>
  </div>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
    <span class="menu-icon">
      <i class="mdi mdi-laptop"></i>
    </span>
    <span class="menu-title">Products</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="ui-basic2">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/AddProduct">Add product</a></li>
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/ViewProduct">View product</a></li>
    </ul>
  </div>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
    <span class="menu-icon">
      <i class="mdi mdi-laptop"></i>
    </span>
    <span class="menu-title">category</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="ui-basic1">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/AddCategory">Add category</a></li>
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/ViewCategory">View category</a></li>
    </ul>
  </div>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
    <span class="menu-icon">
      <i class="mdi mdi-laptop"></i>
    </span>
    <span class="menu-title">Tags</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="ui-basic3">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/AddTags">Add Tags</a></li>
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/ViewTags">View Tags</a></li>
    </ul>
  </div>
</li>
<li class="nav-item menu-items">
  <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
    <span class="menu-icon">
      <i class="mdi mdi-laptop"></i>
    </span>
    <span class="menu-title">Brands</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="ui-basic4">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/Addbrands">Add brands</a></li>
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/Viewbrands">View brands</a></li>
    </ul>
  </div>
</li>

<li class="nav-item menu-items">
  <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic">
    <span class="menu-icon">
      <i class="mdi mdi-laptop"></i>
    </span>
    <span class="menu-title">Users</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="ui-basic5">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/ViewUsers">view brands</a></li>
      <li class="nav-item"> <a class="nav-link" href="/Myadmin/Billing_details">Billing Details</a></li>
    </ul>
  </div>
</li>


<li class="nav-item menu-items">
  <a class="nav-link" href="/Myadmin/viewcart">
    <span class="menu-icon">
      <i class="mdi mdi-speedometer"></i>
    </span>
    <span class="menu-title">view cart data</span>
  </a>
</li>

<li class="nav-item menu-items">
  <a class="nav-link" href="/Myadmin/viewwishlistdata">
    <span class="menu-icon">
      <i class="mdi mdi-speedometer"></i>
    </span>
    <span class="menu-title">View wishlist data</span>
  </a>
</li>